{% extends "admin_layout.html.twig" %}

{% block admin_title %} Gestion des Honneurs {% endblock %}

{% block content %}

    <div class="well">
        <table class="table table-striped">
            <tr>
                <th> </th>
                <th>Libelle</th> 
                <th>Catégorie</th>
                <th> </th>
            </tr>

            {% for honneur in honneurs %}
                <tr>
                    <td><img src="{{ app.request.basepath }}/../images/{{honneur.photoID}}" width="50"></td>
                    <td>{{honneur.libelle}}</td>
                    <td>{{honneur.libelleCategorie}}</td>
                    <td> 
                        <a href= "{*{ path('honneur_detail', {'id':honneur.id}) }*}">
                            <button class="btn btn-info" type="button">Détail</button>
                        </a>
                        <a href = "{*{ path('honneur_edit', {'id':honneur.id}) }*}">
                            <button class="btn btn-warning" type="button">Modifier</button>
                        </a>
                        <a href = "{*{ path('honneur_delete', {'id':honneur.id})}*}" >
                            <button class="btn btn-danger" type="button">Supprimer</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
