{% extends "layout.html.twig" %}

{% block title %}Tableau de bord Administratrice{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="{{path('categorie_admin_board')}}">Catégories</a></li>
                    <li role="presentation"><a href="{{path('nomine_add')}}">Nominés</a></li>
                    <li role="presentation"><a href="#">Actualités Pays</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

