{% extends "admin_layout.html.twig" %}

{% block admin_title %} Toutes les Catégories {% endblock %}

{% block content %}
    <div class="well">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>libelle categorie</th> 
                <th> </th> 
            </tr>
            {% for categorie in categories %}
                <tr>
                    <td>{{categorie.id}}</td>
                    <td>{{categorie.libelle}}</td>
                    <td>
                        <a href = "{{ path('categorie_edit', {'id':categorie.id}) }}">
                            <button class="btn btn-warning" type="button">Modifier</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}