{% extends "public_layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 style="color:white;">L'Evènement</h1>
    </div>
    <div class="panel panel-default" style="opacity:0.7">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl rutrum, viverra nulla non, tempor libero. Fusce ac interdum sem. Nam vestibulum ipsum at lectus gravida, a elementum lacus maximus. Fusce vel eros vel sem malesuada aliquet et sed justo. Nam sed elit ac arcu placerat vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam luctus pharetra dolor, et consequat augue commodo quis. Quisque eget consequat justo
        </div>
    </div>
{% endblock %}
