{% extends "public_layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- [STYLE] -->
    <style>
        .page-header {
            border-bottom: solid;
        }
    </style>
    <!-- [/STYLE] -->
    <link href="{{ app.request.basepath }}/css/index.css" rel="stylesheet">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carrousel-style" role="listbox">

            <div class="item active">
                <img src="{{ app.request.basepath }}/../images/img_1.jpg" width="100%">
                <div class="carousel-caption caption-style">
                    <h3>Title 1</h3>
                    <p>Message 1</p>
                </div>
            </div>
            <div class="item">
                <img src="{{ app.request.basepath }}/../images/img_2.jpg" width="100%">
                <div class="carousel-caption caption-style">
                    <h3>Title 2</h3>
                    <p>Message 2</p>
                </div>
            </div>
            <div class="item">
                <img src="{{ app.request.basepath }}/../images/img_3.jpg" width="100%">
                <div class="carousel-caption caption-style">
                    <h3>Title 3</h3>
                    <p>Message 3</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Qui Sommes Nous
      =======================================================-->
    
        <div class="page-header">
            <h1>Qui sommes nous?</h1>
        </div>
        <p>
            Le comite <strong> GOLDEN IVORY AWARDS </strong>, 
            sis au <em>21 rue de Malte, 78500 Sartrouville (France)</em>,
            fut crée le Samedi 26 Mars 2016.<br><br>
            Il a pour but de favoriser les échanges culturels en Europe et d'aider
            au progrès économique de la Côte d'Ivoire par la réalisation de projet
            d'ordre sociaux culturels visant à récolter des fonds pour mettre en 
            place un projet de réinsertion sociale des populations déscolarisées 
            en Côte d'Ivoire.<br><br>
            D'ou le projet <strong>GOLDEN IVORY AWARDS</strong>, ce dernier consiste
            en une action de récompense des exploits des populations ivoiriennes
            vivant en Europe.</p>


{% endblock %}
