{% extends "public_layout.html.twig" %}

{% block title %}Qui sommes nous{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Qui sommes nous?</h1>
    </div>
    <p>
        Le comite <strong> GOLDEN IVORY AWARDS </strong>, 
        sis au <em>21 rue de Malte, 78500 Sartrouville (France)</em>,
        fut crée le Samedi 26 Mars 2016.<br><br>
        Il a pour but de favoriser les échanges culturels en Europe et d'aider
        au progrès économique de la Côte d'Ivoire par la réalisation de projet
        d'ordre sociaux culturels visant à récolter des fonds pour mettre en 
        place un projet de réinsertion sociale des populations déscolarisées 
        en Côte d'Ivoire.<br><br>
        D'ou le projet <strong>GOLDEN IVORY AWARDS</strong>, ce dernier consiste
        en une action de récompense des exploits des populations ivoiriennes
        vivant en Europe.
    </p>


{% endblock %}