
body {
    background-repeat:no-repeat ;
    background-size:cover  ;
}

li {
    color: white;
    padding-left: 10px;
    margin-top: 10px
}
a {
    color: white;
}

.container-style {
    width: 70%; 
    background-color: white;
    padding-bottom: 35px;
}

#footer {
    background:#221F1F;
    min-width: 100%;
    height:150px;
    position:relative;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
}
